<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.InstaRanjan"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".UI.activities.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.StoryActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.AddProjectActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.MessageActivity2"
            android:exported="false" />

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ica" />

        <activity
            android:name=".UI.activities.MessageActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.ExploreActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.uploadReelsActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.addPostAvtivity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.Home_Activity"
            android:exported="false"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".UI.activities.Signup_Activity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.Login_Activity"
            android:exported="false" />
        <activity
            android:name=".UI.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>